.red-highlight {
  background-color: yellow;
  color: red;
  font-weight: bold;
}

.green-highlight {
  background-color: yellow;
  color: green;
  font-weight: bold;
}

.security-clearance-highlight {
  background-color: purple;
  color: lightgrey;
  font-weight: bold;
}
